@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eat to Beat Disease App </h1>
    <br />
    <br />
    <p> Eat To Beat Disease will help you be healthier and fight off infection by identifying how food affects your immune system and what to put into your body that will make you more resilient against illness.</p>
</div>
