@page
@model ETBDApp.Areas.Identity.Pages.Account.Manager.ImporterModel
@{
    ViewData["Title"] = "Import Data";
    ViewData["ActivePage"] = ManageNavPages.ImportData; 
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Attention !! Area reserved for Administrator.</p>
        <p>
            <strong>If you are not the Administrator, please log out.</strong>
        </p>
        <form method="post">
            <button class="btn btn-primary" type="submit" asp-page-handler="Import">Upload</button>
        </form>

         @if (ViewData["Message"] != null)
             {
                 <script type="text/javascript">
                     window.onload = function ()    {
                         alert("@ViewData["Message"]"); };
                         </script>
             }
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}